<br/>
<br/>
    <h2>Activate your license</h2>

    <form novalidate class="simple-form">
        Your Mac Address:
        <label id="mac-address" class="form-control"></label><br>
        Item name:
        <input type="text" ng-model="edd.item_name" class="form-control" placeholder="should be product name or download slug id"/><br />
        License key:
        <input type="text" ng-model="edd.license" class="form-control"/><br />
        Licence Period:
        <select id="license-period" class="form-control">
            <option value="infinity">Infinity</option>
            <option value="annual">Annual</option>
            <option value="monthly">Monthly</option>
        </select>
        <br />
        <input type="submit" ng-click="submit(edd)" value="Submit" class="btn btn-primary"/>
        <input type="button" ng-click="reset()" value="Reset" class="btn"/>
        <input type="button" ng-click="writeFile()" value="Export" class="btn"/>
    </form>
    <br/>
    <br/>
    <pre>Inputs = {{edd | json}}</pre>
    <br/>
    <pre>Response = {{result | json}}</pre>
